textarea {
  width: 100%;
  resize: none;
  overflow: scroll;
  outline: none;
  border: none;
  padding: 10px;
  height: 50vh;
  font-size: 18px;
  margin-bottom: 0px;
}
nav{
  padding: 10px;
}
.button{
  display: flex;
  justify-content: center;
}
#pencil{
  color: #fff;
}

  
.btn2 {
  background-color: #4a22df;
  color: #fff;
  width: 200px;
  font-size: 18px;
  padding: 5px 0px;
  border: none;
  border-radius: 5px;
}
.type_post{
 display: flex;
 justify-content: space-between;
 padding: 0px 10px;
  width: 100%;
  padding-bottom: 10px;
  background-color: #fff;
  border-bottom: solid 2px #b2b2b2;
  margin-bottom: 15px;
  margin-top: 0px;
}
.type_post select {
  font-size: 14px;
  padding: 4px;
  border-radius: 5px;
  background-color: #fff;
}
.bcg_clr{
  background-color: #fff;
  margin: 0px;
}
.btn_clicked{
  background-color: #9371c2;
  padding: 0px 15px;
  margin-bottom: 5px;
  border-radius: 10px;
}

